
<% content_for :title do %>
  PHP-Snipp
<% end %> 
<div class = "container">
  <h1>PHP Generator</h1>
      <br>
      <div class="row">
        <div class="col-md-6">
        <!-- Button trigger modal -->
        <!-- Modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Instructions
        </button><br><br>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Instruction</h4>
                </div>
                <div class="modal-body">
                <ol>
                   <li>Go to <a href="http://www.bootsnipp.com/forms">Bootsnipp </a>, create a form and paste the rendered code in the text area.</li><br>
                   <li>Enter your database-name, table-name and attributes-name(i.e. database field name) in further fields.</li><br>
                   <li>Now click on <i>Generate PHP</i> button which will generate PHP code for your form.</li><br>
                   <li>Then download include <i>database_connect.php</i> and replace database username and password with your username and password.</li><br>
                   <li>Paste your <i>Bootstrap</i> and <i>PHP code </i>in a file with <i>.php</i> extensions.</li><br>
                   <li>Run it on your server.</li><br>
                   <li>Your PHP page with database interaction is ready.</li><br>
                </ol>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
  <div class="row">
      <div class="col-md-6" >
        <label>
          <b>Paste your Bootstrap code from <a href="http://www.bootsnipp.com/forms" target="blank" >Bootsnipp form builder</a> </b>
        </label>
        <%= form_tag do %>
            <%= text_area_tag 'input_code', nil,rows: 17, cols: 60 %><br>
            <label>Select query type</label>
              <%= select_tag "query_type", "<option>Insert</option><option>Update</option><option>Delete</option><option>Select</option>".html_safe %><br>
            <h3>Optional(Database Information):</h3>
            <label>Database name</label>&nbsp
            <%= text_field_tag 'database_name' %><br>
            <label>Table name</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <%= text_field_tag 'table_name' %><br>
            <label>Table attributes</label>
            <%= text_field_tag 'database_attr'%><i>Insert in comma separation(eg. a_1, a_2 ...)</i><br>
            <label>Where condition</label>
              <%= text_field_tag 'cond' %><i>Condition(It is not for insert query.)</i><br>
            <%= submit_tag 'Generate PHP', class: "btn btn-primary" %>

        <% end %>
        <br><br><br>
      </div>
      <div class="col-md-6">
        <label>Output:</label><br>
        <b><%= link_to "Download 'database_connect.php' (Click here).", "download" %></b>
        <% @output_array.each do |i|%>
          <pre><%= i %></pre>
        <% end %>
      </div>

    </div>
    
</div>