<nav class="navbar navbar-default navbar-fixed-top"  style="height: 80px;">
        <div class="container" style="margin-top: -8; margin-top: -8px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">PHP-Snipp</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#generator">PHP-Generator</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#instructions">Instructions</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
     <header id= "page-top">
        <div class="container">
            <div class="row" style="margin-top: -20;margin-top: -40px;">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
                        <span class="skills">Develop your PHP code with:</span>
                        <span class="name">PHP Snipp</span>
                        <hr class="star-light">
                        <%= image_tag src="php.png" %>
                          <span class="skills">Copy HTML code <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Select Query type <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Insert Database info <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  Get Corresponding PHP</span>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </header>
     <section id="generator">
         <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2>PHP Generator</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-md-6" >
                  <label>
                    <b>Paste your Bootstrap code from <a href="http://www.bootsnipp.com/forms" target="blank" >Bootsnipp form builder</a> </b>
                  </label>
                  <%= form_tag 'form#generator', :id => 'new_comment', class: 'forms-horizontal' do %>
                    
                      <div class="form-group">
                          <%= text_area_tag 'input_code',  params[:input_code],rows: 17, cols: 60, class: "form-control", :required => true %><br>
                      </div>

                      <div class="form-group">
                          <label>Select query type</label>
                          <%= select_tag "query_type", "<option disabled selected>-- Select a query --</option><option>Insert</option><option>Update</option><option>Delete</option><option>Select</option><option>Complete-CRUD</option>".html_safe, class: "btn btn-default dropdown-toggle",id:'query_select', :required => true %><br>
                      </div>
                      <b><hr></b>
                      <h3>Database Information(Optional):</h3>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="field form-group">
                                  <label>Database name</label><br />
                                  <%= text_field_tag 'database_name', params[:database_name], :class => 'form-control' %>
                                  <span class="help-block">Insert your Database name.</span> 
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="field form-group">
                              <label>Table name</label><br />
                              <%= text_field_tag 'table_name', params[:table_name], :class => 'form-control label-with-html', :title => "Quality", "data-content" => "aaaaaaaaa" %>
                              <span class="help-block">Insert your table name.</span>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                         <div class="col-md-6">
                           <div class="field form-group">
                             <label>Table attributes</label><br />
                              <%= text_field_tag 'database_attr', params[:database_attr],  :class=> 'form-control', "data-toggle" => "popover", "title" => "Popover title", "data-content" => "And here's some amazing content. It's very engaging. Right?" %>
                              <span class="help-block">Insert attribute name with comma separaton(eg. attribute1, attribute2 etc.)</span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="field form-group">
                               <label>Where Condition</label><br />
                               <%= text_field_tag 'cond', params[:cond], :class=>'form-control' %>
                               <span class="help-block">Insert where condition(It isn't used for insert query) </span>
                            </div>
                          </div>
                          <hr>
                        </div> 
                        <div class="row">
                            <br>
                            <div class="col-md-4">
                              <% if @output_array.length > 5 %>
                               <hr>&nbsp;&nbsp;<%= link_to "Download 'database_connect.php'", "download", class: "btn btn-large btn-primary" %>
                               <% end %>
                            </div>
                        </div>         
                  </div>
                <div class="col-md-6">
                  <label>Output:</label><br>
                  <div id="code">
                      <pre><code>
                          <% @output_array.each do |i|%>
                          <br><b><%= i %></b>
                          
                      <% end %></pre></code>
                  </div>
                </div>

              </div>
            </div>
               <div class="section-colored text-center">
              <hr>
              <%= submit_tag 'Generate PHP', :class => "btn btn-large btn-primary" %><br><br>

                <hr>
            </div>
    <% end %>
    <%= link_to "hover for popover", "#", id: :elem, rel: :popover, data:{title: "Example Popover", content: "Readymade", trigger: "hover"} %>
    <div class="section-colored text-center">
        
            <div class="col-md-2">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="pulkitvaishnav">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
        
            <a href="https://twitter.com/pulkitvaishnav" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @pulkitvaishnav</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-md-1">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share" data-counter="right"></script>
            </div>

            <div class="col-md-1">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
    
    </div>
    </script>
    </section>
    <section class="success" id="instructions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><h2>Instructions</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li><p> Go to Bootsnipp , create a form and paste the rendered code in the text area.</p></li>
                    <li><p>Enter your database-name, table-name and attributes-name(i.e. database field name) in further fields.</p></li>
                    <li><p>Now click on Generate PHP button which will generate PHP code for your form.</p></li>
                    <li><p>Download 'database_connect.php'.</p></li>
                    <li><p>Then download include database_connect.php and replace database username and password with your username and password.</p></li>
                    <li><p> Paste your Bootstrap and PHP code in a file with .php extensions.</p></li>
                    <li><p>Run it on your server.</p></li>
                    <li><p>Your PHP page with database interaction is ready.</p></li>
                </ul>
            </div>
        </div>
            
    </section>

    <!-- Contact Section -->
    <section id="about">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>PHP-Snipp is a free tool created by Pulkit Vaishnav(@<a href="https://twitter.com/vaishnavpulkit">vaishnavpulkit</a>) to help take the stress out of writing ambiguous code of core PHP. It is developed in Ruby on Rails using bootstrap for its designing.</p>
                </div>
                <div class="col-lg-4">
                    <p>A great thank to Adam Moore(creator of <a href="http://www.bootsnipp.com/"> Bootsnipp</a>) for making our work easier. This tool is intially for only CRUD(Create Read Update and Delete) so I keep it as simple as possible. For complete code check out <a href="https://github.com/pulkitvaishnav/php_generator">Gihub project</a> and don't hesitate to create a issue(if any).</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <!-- <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210< -->
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <!-- <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li> -->
                            <li>
                                <a href="https://plus.google.com/+PulkitVaishnav/posts" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/vaishnavpulkit" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <!-- <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li> -->
                            <li>
                                <a href="https://github.com/pulkitvaishnav/php_generator" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <!-- <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p> -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div> -->
    </footer>

   